form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    padding: 10px 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
  }
  
  h1{
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  